<h1><%= @book.title %></h1>
<p><b>Author:</b> <%= @book.author %></p>
<p><b>Category:</b> <%= @book.category %></p>

<% if current_user.admin? %>
	<%= button_to "Delete book", book_path(@book), method: :delete %>
<% end %>

