<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>

<% unless current_user.nil? %>
	<% unless current_user.rentals.nil? %>
		<% current_user.rentals.each do |rental| %>
			<p> <%= link_to rental.id, rental_path(rental) %> </p>
		<% end %>
	<% end %>	
<% end %>

<% content_for :right_pane do %>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat massa sit amet quam cursus fermentum. Phasellus blandit, nisl et ornare bibendum, turpis urna eleifend augue, sed tincidunt est nisl ac nibh. Aliquam at justo orci. Nullam fringilla congue turpis id hendrerit. Cras nunc urna, porta ut neque non, porta sagittis mauris. Aliquam erat nulla, molestie eu tellus at, vehicula auctor enim. Nunc dui risus, rhoncus sit amet nisi sit amet, luctus vestibulum magna. In in elit tellus. Duis imperdiet tortor id tellus tristique commodo. Ut varius congue risus id tempor. Quisque eu dolor ut felis dapibus tristique at sit amet nisl. Integer sodales mi ac leo venenatis, sit amet eleifend diam mollis. Etiam fringilla at lectus ut sollicitudin. Duis ultrices porta porta.</p>
<% end %>