.library {
	margin-top: 20px;
	width: 95%;
	display: flex;
	flex-direction: column;
	gap:10px;
}

.book-item {
	text-decoration: none;
	color: black;
	padding: 10px 10px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.library h2, .filters h2 {
	font-size: 16pt;
	font-weight: 600;
	padding: 5px 0;
}

.book-item b {
	font-weight: 800!important;
}

.book-item:hover {
	background-color: black;
	color: white;
}

.active-true {
	background-color: #fff8cb;
}

.filters {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
