body {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Helvetica', sans-serif !important;
	background-color: #e7e8e9;
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color:#032d53 ;
}

.navbar a{
	text-decoration: none;
	color: white;
}

.navbar-center-cont {
	width: 60%;
	padding: 15px 0;
	display: flex;
	flex-direction: row;
}

.left-align {
	flex: 5;
	display: flex;
	gap: 50px;
	align-items: center;
}

.right-align {
	display: flex;
	gap: 10px;
}

.navbar h1 {
	font-size: 16pt;
	font-weight: 900;
	flex: 2;
}

.main-cont {
	width: 60%;
	height: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.main-cont h1 {
	font-size: 42pt;
	padding: 10px 0;
}

.center-cont {
	display: flex;
	padding: 2%;
	border-radius: 30px 30px 5px 5px;
	background-color: white;
	
}

.left-pane {
	flex: 2;
	border-right: 2px solid black;
}

.left-pane b {
	font-weight: 900;
}

.right-pane {
	flex: 1;
	width: 100%;
	text-align: justify;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.right-pane button {
	width: 85%;
	padding: 5%;
	margin: 20px 0;
	font-size: 16pt;
	text-align: center;
	background-color: #337ab7;
	color: white;
	border-radius: 10px;
	box-shadow: 3px 5px #092d4f;
}

.right-pane button:hover {
	background-color: #032d53;
}

.input-group {
	margin: 20px 20px 10px 0;
}

.alert h2 {
	font-size: 18pt;
}

.title-show {
	display: flex;
}

.right-pane h3 {
	font-size: 14pt;
}