<%= form_with url: books_path, method: :get do |form| %>
  <div class="input-group">
	  	<%= form.text_field :title, class:"form-control search", placeholder: "Search" %>
	  <span class="input-group-btn" aria-hidden="true">
	  	<%= button_tag(name: 'commit', type: 'submit', class: "btn btn-default") do %>
	  		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	  	<% end %>	
  	  </span>
  </div>
  	
<% end %>