<%= form_with url: books_path, method: :get do |form| %>
  <div class="input-group">
	  	<%= form.text_field :title, class:"form-control", placeholder: "Search" %>
	  <span class="input-group-btn">
		<%= form.submit "Go", class:"btn" %>	
  	  </span>
  </div>
  	
<% end %>